<!DOCTYPE html>
<html>
<head>
  <title>Lab Results Finder</title>
  <link rel="shortcut icon" href="./resources/Capture.PNG"/>
  <link rel="stylesheet" href="./styles/home.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet"/>
</head>

<body>
  <header class="flex-container">
    <button onclick="loadHomepage()">
      <img src="./resources/header-logo.png" alt="va-boston-health-care-logo"/>
    </button>
    <nav>
      <ul>
        <li><a href="./search.html">search</a></li>
      </ul>
    </nav>
  </header>

  <div class="main">
    <div id="general">
      <h6>VA Boston Health Care Lab Results Finder</h6>
      <p>click below to view your results</p>
      <div class="flex-container">
        <div class="search">
          <h5><a href="./search.html">search</a></h5>
        </div>
      </div>
    </div>
  </div>

  <script src="./path.js"></script/>
</body>
</html>
