<!DOCTYPE html>
<html>
<head>
  <title>Lab Results Finder</title>
  <link rel="shortcut icon" href="./resources/Capture.PNG"/>
  <link rel="stylesheet" href="./styles/home.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet"/>
</head>

<body>
  <header class='flex-container'>
    <button onclick="loadHomepage()">
      <img src="./resources/header-logo.png" alt="va-boston-health-care-logo"/>
    </button>
    <nav>
      <ul>
        <li><a href="./search.html">search</a></li>
      </ul>
    </nav>
  </header>

  <div class="main">
    <div id="form-card">
      <h2>search for patient lab results</h2>
      <div class="flex-container">
        <form>
          <label for="first-name">patient's first name:</label><br>
          <input type="text" id="first-name" name="name"><br>
          <button type="submit">view lab results</button>
        </form>
      </div>
    </div>
  </div>

  <script src="./path.js"></script/>
</body>
</html>
